* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  color: hsl(0, 0%, 25%);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 2rem;
  text-align: center;
}

.form-container {
  padding: 1rem;
}

form {
  display: block;
  width: 320px;
  padding: 1.5rem;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 0 24px 4px rgba(0, 0, 0, .15);
  transition: box-shadow .2s ease-out;
}

form:hover {
  box-shadow: 0 0 12px 1px rgba(0, 0, 0, .05), 0 0 22px 12px rgba(0, 0, 0, .15);
}

form h4 {
  color: green;
}

input {
  display: block;
  width: 100%;
  padding: .5rem;
  margin: 1rem 0;
  font-size: 1.2rem;
  border: 2px solid hsl(0, 0%, 85%);
  border-radius: 5px;
  transition: all .2s ease-out;
}

input:focus {
  outline: none;
  color: yellowgreen;
  border: 2px solid yellowgreen;
  box-shadow: 0 2px 0 1px yellowgreen;
}

input:focus::placeholder {
  color: yellowgreen;
}

button {
  display: block;
  width: 50%;
  height: 2rem;
  margin: 0 auto;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  transition: all .2s
}

button:hover {
  background: yellowgreen;
  color: white;
}

button:focus {
  outline: none;
  color: white;
  background: yellowgreen;
}